[flake8]
exclude =
    .git,
    __pycache__,
    migrations,
    manage.py,
    app/settings/production.py,
    app/settings/development.py,
    app/settings/base.py,
    *venv*,
max-line-length = 88