# vscode
.vscode

# env variables
.env

# python
venv
__pycache__/
.pytest_cache/

# tests coverage
.coveragerc
.coverage
htmlcov/

# media and static files
static/

# celery and celery-beat
celerybeat-schedule